
.flex {
  display: flex;
  align-items: center;
}

.flex.fill {
  height: 100%;
}

.flex.center {
  justify-content: center;
}



.DeathStar-col {
  align-content: center;
}

.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 40vw;
  height: 30vh;
  cursor: pointer;
  will-change: transform;
  background-size: cover;
  box-shadow: #064881 0px 0px 150px 5px;
  color: aliceblue;
  text-shadow: 0 0.1rem 0.5rem #000;
}



.prize-col {
  height: 100vh;
}


.front1 {
  background-image: url(../Assets/PrizeCertificate.png);
  background-size: 100% 100%;;
}

.back1 {
  background-image: url(../Assets/DeathShield1.jpeg);
  background-size: 100% 100%;;
}

.front2 {
  background-image: url(../Assets/PrizeMention.png);
  background-size: 100% 100%;;
}

.back2 {
  background-image: url(../Assets/DeathShield2.jpeg);
  background-size: 100% 100%;;
}

.front3 {
  background-image: url(../Assets/PrizeGlory.png);
  background-size: 100% 100%;;
}

.back3 {
  background-image: url(../Assets/DeathShield3.jpeg);
  background-size: 100% 100%;;
}
.front4 {
  background-image: url(../Assets/PrizeValour.png);
  background-size: 100% 100%;;
}

.back4 {
  background-image: url(../Assets/DeathShield4.jpeg);
  background-size: 100% 100%;;
}
.front5 {
  background-image: url(../Assets/PrizeTeamwork.jpg);
  background-size: 100% 100%;;
}

.back5 {
  background-image: url(../Assets/DeathShield5.png);
  background-size: 100% 100%;;
}
.cardcontainer {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
