
  .card-ul {
    margin: 0;
    list-style: none;
    font-size: 4vw;
    transform-style: preserve-3d;
    animation: three-dimensions-circle 30s linear infinite;
  }
  .card-li {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  .DeathStar {
    position: absolute;
    width: 30vw;
    height: 30vw;
    left: 30vw;
    top:  12vh;
    z-index: 1;
    filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 1));
  }
  
  .DeathStar-cap2 {
    display: none;
    text-shadow: 0px 3px 15px #5ea0d9;
  }

  @for $i from 1 through 5 {
    .card-li:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(#{$i * 72 - 72}deg) translateY(-500px) rotateX(90deg);
    }
  }
  @keyframes three-dimensions-circle {
    0% {
      transform: rotateX(-100deg) rotate(0);
    }
    100% {
      transform: rotateX(-100deg) rotate(-360deg);
    }
  }



  @media screen and (max-width: 991px) {
    @for $i from 1 through 5 {
      .card-li:nth-child(#{$i}) {
        transform: translate(-50%, -50%) rotate(#{$i * 72 - 72}deg) translateY(-360px) rotateX(90deg);
      }
    }
    @keyframes three-dimensions-circle {
      0% {
        transform: rotateX(-100deg) rotate(0);
      }
      100% {
        transform: rotateX(-100deg) rotate(-360deg);
      }
    }

    .DeathStar {
      position: absolute;
      width: 60vw;
      height: 60vw;
      left: 15vw;
      top:  12vh;
      z-index: 1;
      filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 1));
    }
  }

  @media screen and (max-width: 767px) {
    @for $i from 1 through 5 {
      .card-li:nth-child(#{$i}) {
        transform: translate(-50%, -50%) rotate(#{$i * 72 - 72}deg) translateY(-180px) rotateX(90deg);
      }
    }
    @keyframes three-dimensions-circle {
      0% {
        transform: rotateX(-100deg) rotate(0);
      }
      100% {
        transform: rotateX(-100deg) rotate(-360deg);
      }
    }

    .DeathStar {
      position: absolute;
      width: 70vw;
      height: 70vw;
      left: 18vw;
      top:  18vh;
      z-index: 1;
      filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 1));
    }

    .DeathStar-cap{
      display: none;
      text-shadow: 0px 3px 15px #5ea0d9;
    }

    .DeathStar-cap2 {
      display: block;
      position: absolute;
      left:1vw;
      top: 7vh;
      width: 60vw;
      padding-top: 3vh;
      padding-right: 5vh;
      font-size: 200%;
      font-weight: 600;
      text-align: center;
      color: aliceblue;
      align-self: center;
      text-shadow: 0px 3px 15px #5ea0d9;
    }
  
    
  }

  @media screen and (max-width: 424px) {
    @for $i from 1 through 5 {
      .card-li:nth-child(#{$i}) {
        transform: translate(-50%, -50%) rotate(#{$i * 72 - 72}deg) translateY(-120px) rotateX(90deg);
      }
    }
    @keyframes three-dimensions-circle {
      0% {
        transform: rotateX(-100deg) rotate(0);
      }
      100% {
        transform: rotateX(-100deg) rotate(-360deg);
      }
    }

    .DeathStar {
      position: absolute;
      width: 70vw;
      height: 70vw;
      left: 18vw;
      top:  25vh;
      z-index: 1;
      filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 1));
    }

    

    .DeathStar-cap{
      display: none;
      text-shadow: 0px 3px 15px #5ea0d9;
    }
    
    .DeathStar-cap2 {
      position: absolute;
      display: block;
      top: 7vh;
      left:1vw;
      padding-top: 3vh;
      padding-right: 5vh;
      width: 50vw;
      font-size: 200%;
      font-weight: 600;
      text-align: center;
      color: aliceblue;
      align-self: center;
      text-shadow: 0px 3px 15px #5ea0d9;
    }
  }

  

  @media screen and (max-height: 550px) {
    .DeathStar {
      position: absolute;
      width: 30vw;
      height: 30vw;
      left: 34vw;
      top:  18vh;
      z-index: 1;
      filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 1));
    }
  }

  @media screen and (max-height: 400px) {
    .DeathStar {
      position: absolute;
      width: 28vw;
      height: 28vw;
      left: 35vw;
      top:  18vh;
      z-index: 1;
      filter: drop-shadow(0px 2px 50px rgba(0, 0, 0, 1));
    }
  }


  .DeathStar-cap{
    padding-top: 3vh;
    padding-right: 5vh;
    font-size: 300%;
    font-weight: 600;
    text-align: center;
    color: aliceblue;
    text-shadow: 0px 3px 15px #5ea0d9;
  }

  .card-ul{
    position: absolute;
    top: 78vh;
    left: 45vw;
  }
  

  