.BookCover1 {
  background-image: url(../Assets/PlatformBookCover.png);
  background-size: cover;
}

.BookPage {
  background-image: radial-gradient(rgb(238, 237, 225), rgb(221, 218, 194), rgb(182, 168, 139));
  border: brown;
  border-width:5vw;
}

.BookCover2 {
  background-color: #5e956b;
  background-size: cover;
}