.PlatformContainer {
  padding-bottom: 5vh;
  padding-top: 0vh;
}

.PlatformCol2 {
  font-size: 300%;
  font-weight: 600;
  text-align: center;
  color: aliceblue;
  text-shadow: 0px 3px 15px #5ea0d9;
}

@media only screen and (max-width: 767px){
  .PlatformCol {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}

@media only screen and (max-width: 900px){
  .PlatformContainer {
    padding-top: 20vh;
    padding-bottom: 5vh;
  }
}