.PlatformContainer {
  padding-bottom: 5vh;
  padding-top: 0vh;
}

.PlatformCol2 {
  font-size: 300%;
  font-weight: 600;
  text-align: center;
  color: aliceblue;
  text-shadow: 0px 3px 15px #5ea0d9;
}

.PlatformTop {
  display: block;
}
.PlatformBottom {
  display: none;
}


@media only screen and (max-width: 900px){
  .PlatformContainer {
    padding-top: 18vh;
    padding-bottom: 5vh;
  }
}

@media only screen and (max-width: 611px){
  .PlatformCol {
    margin-left: 2vw;
    margin-right:2vw;
  }
  .PlatformTop {
    display: none;
  }
  .PlatformBottom {
    display: block;
  }
  .PlatformContainer {
    padding-top: 18vh;
    padding-bottom: 5vh;
  }
}

.PlatfromRow {
  margin-left: 0px !important;
  margin-right: 0px !important;
}